body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
   .notelink.active-note { transform: unset; 
    }
    
   .sidebar-container:not(:has(.graph)) .toc-container {
    max-height: unset;
    }

    .toc {
    ol {
        padding-left: 10px;
    }
}
    
    .toc-container {
    li {
        &::before {
            content: " " !important;
        }
        }
    }

    
}
